@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

section{
width: 100%;
height: 150vh;
background: linear-gradient(45deg,#E51C83,#bf1c77,#440b3e,#4b4c6e, #1e232c);
background-size: 400% 400%;
position: relative;
animation: cambiar 8s ease-in-out infinite;
}
@keyframes cambiar{
0%{background-position: 0 50%;}
50%{background-position: 100% 50%;}
100%{background-position: 0 50%;}
}


body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.container{
    
    position: relative;
    max-width: 1200px;
    width: 200%;
    background: rgba(255, 255, 255, 0.15); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde semitransparente */
    box-shadow: 0 8px 32px 0 rgba(113, 16, 87, 0.37); /* Sombra */
    backdrop-filter: blur(15px);
    padding: 20px;
    margin: 70px;

    margin-left: auto;
    margin-right:auto;
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #f1e9e9;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #dcc8d1;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: transparent;
    overflow: hidden;

}
.container form .form{
    position: absolute;
    background-color: transparent;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #f4ecec;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #f3f1f1;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 2px solid #ee20c1;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(233, 12, 12, 0.13);
}

.input-field select,
.input-field input[type="date"]{
    color: #585555;
}
.input-field input[type="date"]:valid{
    color: #161616;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #E51C83;
    transition: all 0.3s linear;
    cursor: pointer;
    
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #E51C83;
      /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #440b3e,#4b4c6e, #E51C83);
  }
  form .backBtn:hover{
    background-color: #E51C83;
      /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #440b3e,#4b4c6e, #E51C83);
  }
@media(max-width: 584px){
.container{
max-width: 100%;
}
}
form button i,
form .bac kBtn i{
    margin: 0 6px;
    
}
form .backBtn i{
    transform: rotate(180deg);
    
}

form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}

nav {
	margin: 27px auto 0;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #E51C83;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #bf1c77;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #440b3e;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #4b4c6e;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #1e232c;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #f0f2f1;
}